*
{
	margin:0;
	padding:0;

}
body
{
	font-family: Arial, Helvetica, sans-serif;
	height: 30%;
	background-size:cover;
    background-position:center;
}
.main
{
	background-color: rgb(0,100,130);
	position: relative;
	margin-top: 0%;
}
.dropdown {
    position: relative;
    margin-top:2%;
    display: inline-block;
}
button{
	margin-top: 60px;
	position:relative;
	margin-bottom: 10px;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding:10px;
  }
#class1
{
margin-left:80%;
float:right;
}
.dropbtn {
	background-color: #4CAF50;
	  color: white;
	  position:relative;
	  margin-top:3%;
	  padding: 16px;
	  font-size: 16px;
	  border: none;
  }
  
ul
{
	list-style-type: none;
	float:right;
}
ul li
{
	display: inline-block;
	margin-top:5%;
}
ul li a
{
	text-decoration: none;
	color:#000000;
	padding:5px 20px;
	transition: 0.6s ease;
}
ul li a:hover
{
	background-color:#000;
	color:white; 
	
}  
.footerlist
{
color: white;
}
